.dark-theme {
  --color-primary: #e41358;
  --color-bg: #282c35;
  --color-font: #fff;
}
.light-theme {
  --color-primary: #e95184;
  --color-bg: #fff;
  --color-font: #282c35;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-bg);
  transition: all 0.2s linear;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body {
  width: 90vw;
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
}

header {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
header h1 {
  font-size: 40px;
  letter-spacing: 3px;
  align-self: flex-start;
  font-weight: bolder;
  color: var(--color-font);
}

header button {
  align-self: center;
  cursor: pointer;
  background: transparent;
  padding: 4px 10px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--color-primary);
  border-radius: 5px;
  color: white;
}

.body section {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

article h2 {
  font-size: 30px;
  color: var(--color-primary);
  letter-spacing: 2px;
}
article span {
  color: var(--color-font);
}
article div {
  margin: 20px auto;
}
article p {
  color: var(--color-font);
}
